.recomendacoes {
    background-color: #918FB3;
    overflow: hidden;
}

.recomendacoes__card {
    border: 1px solid #fff;

}



.recomendacoes__card > * {
    display: inline-block;
}

.card {
    background-color: #E9F1F2;
}
